{% extends "default.html.twig" %}

{% block content %}
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 text-center">
                <h1>View our games</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="name-country" id="searchGames" placeholder="Choose by name..."/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

</br>
</br>
</br>

<div class="container" id="page-games">
    {% for aGames in allGames %}
    <div class="games-block">
        <div class="row"> 
                <div class="col-md-4 img-games">
                    <img src="{{ aGames.link }}" alt="alterophilie" class="img-responsive" width="75%">
                </div>
                <div class="col-md-8">
                    <h2>{{ aGames.labelEvents }}</h2>
                    <p class="desc-games">{{ aGames.descriptions|slice(0, 150) }}...</p>
                    <a href="{{ games }}&&labelEvents={{ aGames.labelEvents }}">View more</a>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container" id="page-aGames"></div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <ul class="social-icon animate">
            <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
            <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row text-center">
            <p>Copyright © 2018 All rights reserved</p>
        </div>
    </div>
</div>
{% endblock %}

{% block jumbotron %}
<script>
    $(document).ready(function(){
        $(".jumbotron").css("background-color","#FCB90B");
        $(".jumbotron h1").css("color","#fff");
        $("body").css("background-color","#F7F7F7");
        $(".footer").css("background-color","rgb(252, 185, 11)");
    });
</script>
{% endblock %}